AI-Productivity_Manager.json
{
  "name": "AI Agent : Google calendar assistant using OpenAI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        -160
      ],
      "id": "83cf08d4-697a-48c4-b418-d892f4d432c8",
      "name": "Telegram Trigger",
      "webhookId": "96320198-1fa7-4907-b63b-be95b04ec119",
      "credentials": {
        "telegramApi": {
          "id": "1EpGkVx7Xi7HQOjO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a Telegram productivity assistant. Handle: calendar events, tasks, emails, daily plans, health logs. Detect user intent and call the correct tool: calendar for scheduling, tasks for task management, email_summary for emails, daily_plan for today plan, log_health for health data. Be brief. Use tools when needed. Note: please give the output in normal text format. do not use newlines, asterisks and all for the formatting."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        824,
        -160
      ],
      "id": "a2bda9f6-f0f8-4369-9dd9-6e93691d9249",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        64
      ],
      "id": "5710f835-be24-4b7c-9f8d-c386e70a22c1",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "oFWzvSmftji8eFwt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        64
      ],
      "id": "e7686eb9-a3e8-4af2-b789-1bf55d7155f4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a Google Calendar event. Required inputs: start_date, end_date, event_title, event_description. Rules: Use format YYYY-MM-DD HH:mm:ss. Convert natural language to datetime. Ask user if any required field is missing. event_title should be short and uppercase. Generate event_description if missing. Do not call tool until all fields are available.",
        "calendar": {
          "__rl": true,
          "value": "4a1e337ed85c9d72306e159e46ab75e3c0e36a95fe4a81ddb3b45b0329c7af97@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Assistant Calendar"
        },
        "start": "={{ $fromAI(\"start_date\") }}",
        "end": "={{ $fromAI(\"end_date\") }}",
        "additionalFields": {
          "description": "={{ $fromAI(\"event_description\") }}",
          "summary": "={{ $fromAI(\"event_title\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        384,
        64
      ],
      "id": "1b893a15-dbfe-43a2-83f8-4f3f93a035f5",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "kRJmH7iVX8wVxoDP",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete a Google Calendar event. Input: event_id. Rules: event_id must be valid. If unknown, first get events and match by title/date/time. Ask user if multiple matches. Only delete after correct event is identified.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "4a1e337ed85c9d72306e159e46ab75e3c0e36a95fe4a81ddb3b45b0329c7af97@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Assistant Calendar"
        },
        "eventId": "={{ $fromAI(\"event_id\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        512,
        64
      ],
      "id": "ee2d2802-44c4-4ba6-8bb5-b7fc4d06d84d",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "kRJmH7iVX8wVxoDP",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update a Google Calendar event. Required: event_id. Optional: start_date, end_date, event_title, event_description. Rules: If event_id unknown, first get events and match by title/date/time. Only update fields requested by the user. Call tool only after correct event_id is identified.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "4a1e337ed85c9d72306e159e46ab75e3c0e36a95fe4a81ddb3b45b0329c7af97@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Assistant Calendar"
        },
        "eventId": "={{ $fromAI(\"event_id\") }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        640,
        64
      ],
      "id": "6201e7f8-265a-4559-807a-9a4fbc9b7d98",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "kRJmH7iVX8wVxoDP",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get Google Calendar events. Inputs: start_date, end_date. Rules: Convert natural language (today, tomorrow, next week) to datetime range. Return all events in the range. Ask user if range is missing.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "4a1e337ed85c9d72306e159e46ab75e3c0e36a95fe4a81ddb3b45b0329c7af97@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Assistant Calendar"
        },
        "timeMin": "={{ $fromAI(\"start_date\") }}",
        "timeMax": "={{ $fromAI(\"end_date\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        768,
        64
      ],
      "id": "cacd6fd1-6255-4619-a334-c8bb49777a4d",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "kRJmH7iVX8wVxoDP",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a Google Task. Required: title. Optional: due_date, notes. Rules: Title should be short and clear. Convert natural language time to RFC3339 format. Keep status as pending. Leave due_date empty if not provided. Use notes for extra details. Create one task unless multiple requested.",
        "task": "TnZGXzI4YVBSWDdrZmlJMA",
        "title": "={{ $fromAI(\"title\", \"\", \"string\") }}",
        "additionalFields": {
          "dueDate": "={{ $fromAI(\"due_date\", \"\", \"string\") }}",
          "notes": "={{ $fromAI(\"notes\", \"\", \"string\") }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        896,
        64
      ],
      "id": "5951c4a5-aa41-4650-b2d6-1fe315e6086c",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "5aaXT3BZhSCXbkSb",
          "name": "Google Tasks OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get Google Tasks. Use when user asks to view tasks. Filter results based on request: pending means status needsAction, completed means status completed, all means both, due today means filter by due date. Return tasks clearly. If none found, say no tasks.",
        "operation": "getAll",
        "task": "TnZGXzI4YVBSWDdrZmlJMA",
        "additionalFields": {
          "dueMin": "={{ $fromAI(\"due_min\", \"\", \"string\") }}",
          "dueMax": "={{ $fromAI(\"due_max\", \"\", \"string\") }}",
          "showCompleted": "={{ $fromAI(\"show_completed\", \"\", \"boolean\") }}"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1024,
        64
      ],
      "id": "8203871a-9600-4e68-be3c-463c43c7971f",
      "name": "Get many tasks in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "5aaXT3BZhSCXbkSb",
          "name": "Google Tasks OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Delete a Google Task. Input: task_id. Rules: task_id must be valid. If unknown, first get tasks and match by title or due date. Ask user if multiple matches. Delete only after correct task_id is identified.",
        "operation": "delete",
        "task": "TnZGXzI4YVBSWDdrZmlJMA",
        "taskId": "={{ $fromAI(\"task_id\") }}"
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1152,
        64
      ],
      "id": "9bcbca1a-4690-40c5-be32-046e10db6909",
      "name": "Delete a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "5aaXT3BZhSCXbkSb",
          "name": "Google Tasks OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update a Google Task. Required: task_id. Optional: status, title, notes, due. Rules: complete means status completed, reopen or pending means status needsAction. Only include fields mentioned by the user.",
        "operation": "update",
        "task": "TnZGXzI4YVBSWDdrZmlJMA",
        "taskId": "={{ $fromAI(\"task_id\") }}",
        "updateFields": {
          "status": "completed"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        1280,
        64
      ],
      "id": "f186d653-9e13-4763-aa45-6e19782b2d3c",
      "name": "Update a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "5aaXT3BZhSCXbkSb",
          "name": "Google Tasks OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        -160
      ],
      "id": "47ee347a-7387-4618-9a8b-379e22a82411",
      "name": "Send a text message",
      "webhookId": "26d9d504-ce6a-452f-9983-5fdf8a78f447",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "1EpGkVx7Xi7HQOjO",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Fetch recent emails from Gmail inbox. If the user asked for important mails then avoid the promotional and normal mails that comes from the application and which are not important. Give the highest priority to one which comes from real person. Use this only when user asks about emails. Rules: Fetch maximum 5 emails unless more are explicitly needed. Prefer unread emails. Return subject, sender, snippet, and date only. Do not fetch full email body unless required. Avoid unnecessary repeated calls. Goal: Minimize token usage while providing enough context for summarization and importance detection.",
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1408,
        64
      ],
      "id": "88dcf3ae-6a6c-47ec-abfa-3d632c18a6dd",
      "name": "Get many messages in Gmail",
      "webhookId": "bdfa83d8-1cb7-4975-a843-b042929912d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "7CfRg4qTKL6lDGSM",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send an email via Gmail. Use only when the user explicitly asks to send or reply to an email. Rules: First generate To, Subject, Message. Then ask for confirmation before sending. Only send if user clearly confirms (e.g., YES, send, confirm). If no confirmation, do NOT send. Keep message short and professional. Avoid duplicate or repeated sends. Do not add unnecessary formatting or signatures. Fields: To is recipient email, Subject is short and relevant, Message is concise content. Goal: Send accurate emails with minimal tokens and zero mistakes.",
        "sendTo": "={{ $fromAI(\"to\", \"\", \"string\") }}",
        "subject": "={{ $fromAI(\"subject\", \"\", \"string\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"message\", \"\", \"string\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1536,
        64
      ],
      "id": "ab74bdea-b19f-4e5f-8cae-4c073ac25737",
      "name": "Send a message in Gmail",
      "webhookId": "0db89c21-0e9e-4068-8e8c-8a472e0bb3e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "7CfRg4qTKL6lDGSM",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Reply to an existing email in Gmail. When replying to emails: First fetch recent emails. Identify the correct email based on user request. Use its Message ID for replying. Use only when the user explicitly asks to reply to an email. Rules: First generate a concise reply based on the email context. Ask for user confirmation before sending. Only send if user clearly confirms (YES, send, confirm). If no confirmation, do NOT send. Keep reply short, clear, and professional. Maintain context of the original email. Do not repeat full email content. Avoid unnecessary formatting or signatures. Fields: Message ID is target email to reply, Message is concise reply content. Goal: Send accurate, context-aware replies with minimal tokens and zero mistakes.",
        "operation": "reply",
        "messageId": "={{ $fromAI(\"message_id\", \"\", \"string\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"message\", \"\", \"string\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1664,
        64
      ],
      "id": "f40daf59-b503-4092-9550-3d08d8c2fc01",
      "name": "Reply to a message in Gmail",
      "webhookId": "b9253855-2668-44aa-a37e-91abf0a374cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "7CfRg4qTKL6lDGSM",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "90a9d2d1-9781-4799-b435-baa612371ae1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97d6fdcbd6f9d9846f1f3aa438fa58ab56471d7306a08e74247fa45f8048bbbc"
  },
  "id": "jpgC0NpXMKa4fZtF",
  "tags": []
}